# Aplicación
APP_NAME=xperience
DEBUG=True
PORT=8000
SECRET_KEY=password

# Base de Datos
DB_NAME=xperience_db
DB_USER=postgres
DB_PASSWORD=123
# Información de Contacto (Modal / Base HTML)
CONTACT_EMAIL=contacto@gmail
CONTACT_PHONE=+56912345678
INSTAGRAM_HANDLE=@xxxxxxxx