.env
.env.production

__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/

build/
*.egg-info/
*.egg

.pytest_cache/
htmlcov/
.coverage

backend/app/img/*
!backend/app/img/.gitkeep

dist/
.astro/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

pgdata/